.inputBox {
  background-color: #eee;
  padding: 20px 35px;
  border-bottom: 1px solid #ccc;
  .input {
    display: block;
    width: 100%;
    border: 0;
    outline: 0;
    background-color: transparent;
    height: 25px;
    font-style: italic;
    font-size: 16px;
  }
}
